{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1 class="cover-heading"></h1>
    <p class="lead">
        <a href="" class="border-button">1A</a>
        <a href="" class="border-button">1Б</a>
        <a href="" class="border-button">1В</a>
    </p>
    <p class="lead">
        <a href="" class="border-button">2А</a>
        <a href="" class="border-button">2Б</a>
        <a href="" class="border-button">2В</a>
    </p>
    <p class="lead">
        <a href="" class="border-button">3A</a>
        <a href="" class="border-button">3Б</a>
        <a href="" class="border-button">3В</a>
    </p>
    <p class="lead">
        <a href="" class="border-button">4А</a>
        <a href="" class="border-button">4Б</a>
        <a href="" class="border-button">4В</a>
    </p>

{% endblock %}