{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1 class="cover-heading"></h1>
    <p class="lead">
        <a href="/" class="border-button">5A</a>
        <a href="" class="border-button">5Б</a>
        <a href="" class="border-button">5В</a>
    </p>
    <p class="lead">
        <a href="" class="border-button">6А</a>
        <a href="" class="border-button">6Б</a>
        <a href="" class="border-button">6В</a>
    </p>
    <p class="lead">
        <a href="" class="border-button">7A</a>
        <a href="" class="border-button">7Б</a>
        <a href="" class="border-button">7В</a>
    </p>
    <p class="lead">
        <a href="" class="border-button">8А</a>
        <a href="" class="border-button">8Б</a>
        <a href="" class="border-button">8В</a>
    </p>
    <p class="lead">
        <a href="" class="border-button">9А</a>
        <a href="" class="border-button">9Б</a>
        <a href="" class="border-button">9В</a>
    </p>

{% endblock %}