{% extends 'base.html' %}
{% block title %}
    {{ class_name.name }}
{% endblock %}
{% block content %}
    <h1 class="cover-heading">Расписание уроков</h1>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th>День недели</th>
            <th>Номер урока</th>
            <th>Предмет</th>
            <th>Аудитория</th>
            <th>Учитель</th>
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.weekday }}</td>
                <td>{{ schedule.lesson_time }}</td>
                <td>{{ schedule.lesson }}</td>
                <td>{{ schedule.audience }}</td>
                <td>{{ schedule.teacher }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <form method="post">
        {% csrf_token %}
        {{ form.weekday }}
        {{ form.lesson_time }}
        {{ form.lesson }}
        <select name=teachers><option selected>Выбрать учителя</option>
            {% for teacher in teachers %}
                <option teachers name="teacher_name" value="{{ teacher.id }}">{{ teacher }}</option>
            {% endfor %}
        </select>
        <select name=audiences><option selected>Выбрать аудиторию</option>
            {% for audience in audiences %}
                <option audiences name="audience_name" value="{{ audience }}">{{ audience }}</option>
            {% endfor %}
        </select>
    <input class="border-button" type="submit" value="Добавить">
    </form>
    {#    {% if cups.count >= 1 %}#}
    {#        {% include 'inc/pagination.html' %}#}
    {#    {% endif %}#}

{% endblock %}
