{% extends 'base.html' %}
{% block title %}
    {{ class_name.class_number }}{{ class_name.name }}
{% endblock %}
{% block content %}
    <h1 class="title">Расписание уроков</h1>
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.weekday }}
            {{ form.lesson_time }}
            {{ form.lesson }}
            <select name=teachers>
                <option selected>Выбрать учителя</option>
                {% for teacher in teachers %}
                    <option teachers name="teacher_name" value="{{ teacher.id }}">{{ teacher }}</option>
                {% endfor %}
            </select>
            <select name=audiences>
                <option selected>Выбрать аудиторию</option>
                {% for audience in audiences %}
                    <option audiences name="audience_name" value="{{ audience }}">{{ audience }}</option>
                {% endfor %}
            </select>
            <input class="border-button" type="submit" value="Добавить">
        </form>
    {% endif %}

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th>День недели</th>
            <th>Номер урока</th>
            <th>Предмет</th>
            <th>Аудитория</th>
            <th>Учитель</th>
            {% if request.user.is_authenticated %}
                <th>Элементы управления</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.weekday }}</td>
                <td>{{ schedule.lesson_time }}</td>
                <td>{{ schedule.lesson }}</td>
                <td>{{ schedule.audience }}</td>
                <td>{{ schedule.teacher }}</td>
                {% if request.user.is_authenticated %}
                    <td>
                        <a class="btn btn-warning" href="#">Изменить</a>
                        <a class="btn btn-danger">Удалить</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


    {#    {% if cups.count >= 1 %}#}
    {#        {% include 'inc/pagination.html' %}#}
    {#    {% endif %}#}

{% endblock %}
