{% extends 'base.html' %}
{% block title %}
    {{ School.school_name }}{{ School.school_number }} {{ class_name.class_number }}{{ class_name.name }}
{% endblock %}
{% block content %}
    <div>
        <nav>
            <p></p>
            <table align="center">
                <td><p class="text-white"><a class="btn btn-light" href="#1">Понедельник</a></p></td>
                <td><p class="text-white"><a class="btn btn-light" href="#2">Вторник</a></p></td>
                <td><p class="text-white"><a class="btn btn-light" href="#3">Среда</a></p></td>
                <td><p class="text-white"><a class="btn btn-light" href="#4">Четверг</a></p></td>
                <td><p class="text-white"><a class="btn btn-light" href="#5">Пятница</a></p></td>
            </table>
        </nav>
    </div>
    <p class="title" id="1">Понедельник</p>
    <table class="table table-striped table-dark">
        <thead>
        <tr class>
            <th>Номер урока</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Аудитория</th>
            <th>Учитель</th>
            {% if request.user.is_authenticated %}
                <th>Элементы управления</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            {% if schedule.weekday.name == 'Понедельник' %}
                <tr>
                    <td>{{ schedule.lesson_time }}</td>
                    <td>{{ schedule.s_class }}</td>
                    <td>{{ schedule.lesson }}</td>
                    <td>{{ schedule.audience }}</td>
                    <td>{{ schedule.teacher }}</td>
                    {% if request.user.is_authenticated %}
                        <td>
                            <a class="btn btn-warning"
                               href="{% url 'scheduleupdate' schedule.s_class.id schedule.id %}">Изменить</a>
                            <form method="post" action="{% url 'scheduledelete' schedule.s_class.id schedule.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <p class="title" id="2">Вторник</p>
    <table class="table table-striped table-dark">
        <thead>
        <tr class>
            <th>Номер урока</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Аудитория</th>
            <th>Учитель</th>
            {% if request.user.is_authenticated %}
                <th>Элементы управления</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            {% if schedule.weekday.name == 'Вторник' %}
                <tr>
                    <td>{{ schedule.lesson_time }}</td>
                    <td>{{ schedule.s_class }}</td>
                    <td>{{ schedule.lesson }}</td>
                    <td>{{ schedule.audience }}</td>
                    <td>{{ schedule.teacher }}</td>
                    {% if request.user.is_authenticated %}
                        <td>
                            <a class="btn btn-warning"
                               href="{% url 'scheduleupdate' schedule.s_class.id schedule.id %}">Изменить</a>
                            <form method="post" action="{% url 'scheduledelete' schedule.s_class.id schedule.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <p class="title" id="3">Среда</p>
    <table class="table table-striped table-dark">
        <thead>
        <tr class>
            <th>Номер урока</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Аудитория</th>
            <th>Учитель</th>
            {% if request.user.is_authenticated %}
                <th>Элементы управления</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            {% if schedule.weekday.name == 'Среда' %}
                <tr>
                    <td>{{ schedule.lesson_time }}</td>
                    <td>{{ schedule.s_class }}</td>
                    <td>{{ schedule.lesson }}</td>
                    <td>{{ schedule.audience }}</td>
                    <td>{{ schedule.teacher }}</td>
                    {% if request.user.is_authenticated %}
                        <td>
                            <a class="btn btn-warning"
                               href="{% url 'scheduleupdate' schedule.s_class.id schedule.id %}">Изменить</a>
                            <form method="post" action="{% url 'scheduledelete' schedule.s_class.id schedule.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>

    </table>

    <p class="title" id="4">Четверг</p>
    <table class="table table-striped table-dark">
        <thead>
        <tr class>
            <th>Номер урока</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Аудитория</th>
            <th>Учитель</th>
            {% if request.user.is_authenticated %}
                <th>Элементы управления</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            {% if schedule.weekday.name == 'Четверг' %}
                <tr>
                    <td>{{ schedule.lesson_time }}</td>
                    <td>{{ schedule.s_class }}</td>
                    <td>{{ schedule.lesson }}</td>
                    <td>{{ schedule.audience }}</td>
                    <td>{{ schedule.teacher }}</td>
                    {% if request.user.is_authenticated %}
                        <td>
                            <a class="btn btn-warning"
                               href="{% url 'scheduleupdate' schedule.s_class.id schedule.id %}">Изменить</a>
                            <form method="post" action="{% url 'scheduledelete' schedule.s_class.id schedule.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>

    </table>
    <p class="title" id="5">Пятница</p>
    <table class="table table-striped table-dark">
        <thead>
        <tr class>
            <th>Номер урока</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Аудитория</th>
            <th>Учитель</th>
            {% if request.user.is_authenticated %}
                <th>Элементы управления</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            {% if schedule.weekday.name == 'Пятница' %}
                <tr>
                    <td>{{ schedule.lesson_time }}</td>
                    <td>{{ schedule.s_class }}</td>
                    <td>{{ schedule.lesson }}</td>
                    <td>{{ schedule.audience }}</td>
                    <td>{{ schedule.teacher }}</td>
                    {% if request.user.is_authenticated %}
                        <td>
                            <a class="btn btn-warning"
                               href="{% url 'scheduleupdate' schedule.s_class.id schedule.id %}">Изменить</a>
                            <form method="post" action="{% url 'scheduledelete' schedule.s_class.id schedule.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>

    </table>
{% endblock %}
